body{
  margin: 0;
  padding: 0;
}
.intro-name{
  background: -webkit-linear-gradient(rgb(32, 222, 184), rgb(81, 50, 221));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.firstline{
  display: flex;

}
.hi{

  background: -webkit-linear-gradient(rgb(15, 7, 17), rgb(71, 20, 107));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-heading{
  display: flex;
  flex-direction: column;
  
}
.dev-dp{
  width: 23vw;
  border-radius: 50%; /*1*/
  border: 10px solid transparent; /*2*/
  background: linear-gradient(45deg,rgb(32, 222, 229),rgb(129, 21, 231)) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
}
.intro{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 18vh; */
  margin-bottom: 1vh;

}
.techlogos{

  width: 11vw;
  margin: 5vw 3vw;
}

.techstacklogos{
  margin: 0 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.techstack{
  margin-top: 15vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.techhead{
  background: -webkit-linear-gradient(rgb(216, 208, 56), rgb(14, 198, 63));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtechhead{
  
}
.footersecond{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 1.5rem;
}
.newitems{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 40%;
}
.credit{
  flex: 40%;
}
.tabs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
.logoc{
  background: -webkit-linear-gradient(rgb(216, 208, 56), rgb(14, 198, 63));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 500px) {

  .footerone .fitems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footerone a{
    margin-bottom: 10px;
  }
  .logoc{
    display: none;
  }
  .tabs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}